/* pages/about/about.wxss */
.vs-space-around {
  padding-top: 3rem;
  text-align: center;
  justify-content: space-around;
}
.other-icon {
  width: 2.5rem;
}
.txt {
  margin-bottom: 1rem;
  text-align: center;
}
.version {
  font-size: .8rem;
  color: gray;
}