# .prettierignore 忽略语法格式化的文件

*.min.js
/node_modules
/dist
# OS
.DS_Store
.idea
.editorconfig
.npmrc
package-lock.json
# Ignored suffix
*.log
*.md
*.svg
*.png
*ignore
## Built-files
.cache
dist
.DS_Store
node_modules
dist
dist-ssr
**/*.svg
**/*.sh
./miniprogram/cloud
./miniprogram/miniprogram_npm