/* pages/userinfo/userinfo.wxss */
.top-bg {
  height: 400rpx;
  background-color: #5064eb;
}
.username {
  height: 100%;
  line-height: 5rem;
  color: #ffffff;
}
.total {
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}
